
.cell{
	padding: 40px;
	width: 100px;
	height: 100px;
	display: inline-block;
	background-color: #E1E1E1;
	//border: 2px solid white;
	cursor: pointer;
	text-align: center;
	//box-sizing: border-box;
}

.table{
	width: 0%;
}

#centre{
	border-right: 1px solid #2D2D2D;
	border-left: 1px solid #2D2D2D;
}

tr{
	border: 1px solid #2D2D2D;
}

.cell:hover{
	background-color: #A1A1A1;
}

#coreDiv {
	//display: flex;
	margin-top: 10px;
	background-color: #272822;
	width: 300px;
	height: 300px;

	margin-left: 300px;
}
