.table{
	width: 25%;
	height: 230px;
	margin-top: 20px;
	text-align: center;
}
.table-bordered{
	border: 4px solid #ddd;
}
td:hover{
	cursor: pointer;
	background-color: #ccc;
}

// table{
// 	border-collapse: ;
// }

tbody{
	font-size: 40px;
}